body, html {
    font-family: monospace;
    font-size: large;
    background-color:gray;
    max-width: 100%;
}


header {
    background-color: black;
    max-width: 100%;
    max-height: auto;
}

header h1 {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: white;
    margin: auto;
    text-align: center;
}

.intro {
    max-width: 70%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}

footer div {
    color: white;
    text-align: center;
}
